* {
	font-family: "Roboto", sans-serif;
	box-sizing: border-box;
}

body {
	background-color: #000000;
}

h1 {
	color: white !important;
}

.content {
	width: 100vw;
	height: 100vh;
	padding: 1rem;
	background-color: #313131;
}

.detailsOpen section {
	width: 50%;
	float: left;
}

@media screen and (min-width: 992px) {
	.content {
		max-width: 992px;
		height: auto;
		margin: 1rem auto;
		border-radius: 1rem;
	}
}

.details {
    display:none;
    float: right;
    width: 40vw;
	height: 100vh;
	padding: 1rem;
	background-color: #313131;
    padding-right: 10rem;
}

.details section {
    width: 50%;
    float: right;
}

@media screen and (min-width: 992px) {
	.details {
		max-width: 992px;
		height: auto;
		margin: 1rem auto;
		border-radius: 1rem;
	}
}
